{% extends 'band_booking/base.html' %}
{% block content %}
    <div class="concert-wrapper center-horizontal">
        <h1 class="concert-title">
            {{ concert.concert_title }}
        </h1>
        <div class="concert-base-information inline-block">
            <h3 class="concert-information-title">
                Konsertinformasjon
            </h3>
            <div>
                <p class="bold inline-block concert-information-line">Band:</p>
                {% for band in concert.bands.all %}
                    <p class="inline">{{ band.band_name }} </p>
                {% endfor %}
            </div>
            <div>
                <p class="bold inline-block concert-information-line">Dato:</p> <p class="inline">{{ concert.date }}</p>
            </div>
            <div>
                <p class="bold inline-block concert-information-line">Pris:</p> <p class="inline">{{ concert.ticket_price }} kr</p>
            </div>
            <div>
                <p class="bold inline-block concert-information-line">Scene:</p> <p class="inline">{{ concert.scene.scene_name }}</p>
            </div>
        </div>

        <div class="concert-technical-information inline-block">
            <h3 class="concert-information-title">
                Teknisk personell
            </h3>
            <div>
                <div class="inline-block bold underline concert-person-name-title">
                    Navn:
                </div>
                <div class="inline-block bold underline concert-person-email-title">
                    Epost:
                </div>
            </div>
            {% for person in concert.personnel.all %}
                <div class="inline-block concert-person-name">
                    {{ person.first_name }} {{ person.last_name }}
                </div>
                <div class="inline-block concert-person-email">
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="concert-equipment-information">
            <h3 class="concert-information-title">
                Utstyr
            </h3>
            <div class="concert-equipment-column bold inline-block small-padding-bottom underline">
                Gjenstand
            </div>
            <div class="concert-equipment-amount-column bold inline-block small-padding-bottom underline">
                Antall
            </div>
            {% for equip,amount in equipment.items %}
                <div class="concert-equipment-column inline-block">
                    {{ equip }}
                </div>
                <div class="concert-equipment-amount-column inline-block">
                    {{ amount }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}