{% extends 'band_booking/base.html' %}
{% block content %}
    <title>Bookingtilbud</title>
    <div class="booking-list-wrapper center-horizontal">
        <div class="booking-overview-button-container">
            <a href="{% url 'bookingansvarlig:create_booking_offer' %}" class="booking-offer-button button black-link">
                <div class="basic-button booking-list-new-offer-button">
                    Nytt bookingtilbud
                </div>
            </a>
        </div>

      <!--  adds a dropdown menu where the user can choose a status to filter by -->
        <div class="table-cell">
            <div class="dropdown">
                : <span class="dropdown-currently-selected">{% if scene == "" %}Ingen
                valgt{% endif %}{{ scene }}</span>
                <div class="dropdown-wrapper">
                    {% for current_scene in scenes %}
                        <div class="dropdown-item scene-item{% if current_scene == scene %} dropdown-currently-selected-item{% endif %}">{{ current_scene }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <table class="booking-overview-table">
            <thead class="booking-overview-table-header">
            <tr>
                <th>Tittel</th>
                <th>Mottaker</th>
                <th>Ansvarlig</th>
                <th>Tilbud</th>
                <th>Status</th>
                {% if perms.band_booking.can_approve_booking_offers %}
                    <th>Godkjenn</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.title_name }}</td>
                    <td>{{ booking.recipient_email }}</td>
                    {% if booking.sender.first_name %}
                        <td>{{ booking.sender.first_name }} {{ booking.sender.last_name }}</td>
                    {% else %}
                        <td>{{ booking.sender.username }}</td>
                    {% endif %}
                    <td><a href="{% url 'bookingansvarlig:create_booking_offer' booking.pk %}">Se tilbud</a></td>
                    <td class="{{ booking.status }}">{{ booking.get_status_word }}</td>
                    {% if perms.band_booking.can_approve_booking_offers %}
                        {% if booking.status == "N" or booking.status == "U" %}
                            <td class=" booking-offer-accept-buttons">
                                <a href="{% url 'bookingsjef:approve_booking_offer' booking.pk %}" class="black-link">
                                    <div class="booking-offer-accept-button S">
                                        Godkjenn
                                    </div>
                                </a>
                                <a href="{% url 'bookingsjef:decline_booking_offer' booking.pk %}" class="black-link">
                                    <div class="booking-offer-decline-button N">
                                        Avslå
                                    </div>
                                </a>
                            </td>
                        {% else %}
                            <td class="booking-offer-disabled-approval-buttons">

                            </td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
