{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="{% static 'bookingansvarlig/style/create_booking_offer.css' %}">
		<title> Bookingtilbud </title>
        <script src="{% static 'bookingansvarlig/scripts/concert_overview.js' %}"></script>
	</head>

	<body>
	<main>
        {% if saved %}
            <div class="saved-message" id="saved-message">
                <span class="center-message-vertical">
                    Tilbud er lagret
                </span>
            </div>
        {% endif %}
        {% if error %}
            <div class="error-message" id="error-message">
                <span class="center-message-vertical">
                    {{ error }}
                </span>
            </div>
        {% endif %}
        {% if offer %}
            <div class="{{ offer.status }}" id="offer-status-message">
                <span class="center-message-vertical">
                    {{ status }}
                </span>
            </div>
        {% endif %}
		<form class="offer-form" method="post" action="{{ link }}" autocomplete="off">
            {% csrf_token %}
			<h1 class="page-title"> Bookingtilbud </h1>

			<div class="text_fields">
				<div class="title_field">
					<label for="title" >
						Tittel:
					</label>
					<br>
					<input class="title-input-field" type="text" name="title" id="title" placeholder="Bookingtilbud tittel" required {% if offer %}value="{{ offer.title_name }}"{% endif %}>
				</div>

				<div class="email">
					<label for="email">
						E-post manager:
					</label>
					<br>
					<input class="email-input-field" type="email" name="email" id="email" placeholder="Managers epost" required {% if offer %}value="{{ offer.recipient_email }}"{% endif %}>
				</div>
			</div>

			<br>

			<div class="email-text">
				<label for="message">Beskjed: </label>
				<br>
				<textarea class="message-field" id="message" name="message" placeholder="Bookingtilbud tekst" required>{% if offer %}{{ offer.email_text }}{% endif %}</textarea>
				<br> <br>
			</div>

			<input class="submit" type="submit" value="Lagre tilbud"/>
		</form>
        <a href="{% url 'bookingansvarlig:bookings' %}">
            <button class="menu"> Oversikt tilbud </button>
        </a>
	</main>
	</body>
</html>