{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="{% static 'bookingansvarlig/style/create_booking_offer.css' %}">
		<title> Bookingtilbud </title>
	</head>

	<body>
	<main>
		<form method="post" action="" autocomplete="off">
            {% csrf_token %}
			<h2> Bookingtilbud </h2>
			
			<div class="text_fields">
				<div class="title_field">
					<label for="title" >
						Tittel:
					</label>
					<br>
					<input type="text" name="title" id="title" required>
				</div>
				
				<div class="email">
					<label for="email"> 
						E-post mottaker: 
					</label>
					<br>
					<input type="email" name="e-post" id="email" required>
				</div>
			</div>
			
			<br>

			<div class="email_text">
				<label for="message">Beskjed: </label>
				<br>
				<textarea id="message" name="message" required></textarea>
				<br> <br>
			</div>
			
			<input class="submit" type="submit" value="Send tilbud til godkjenning"/>
		</form>
	</main>
	</body>
</html>