table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid #000000;
    text-align: center;
}

.band-name, .genre-band {
    display: block;
}

main {
    width: 900px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

body {
    min-width: 100%;
    max-width: 100%;
}

.title {
    width: 100%;
    text-align: center;
}

.dropdown {
    background-color: #f1f1f1;
    width: 200px;
    text-align: center;
    border: 1px solid black;
}

.dropdown:hover {
    background-color: #d8d8d8;
}

.dropdown-wrapper{
    background-color: #f1f1f1;
    width: 200px;
    border: 1px solid black;
    margin-left: -1px;
}

.scene-item, .genre-item {
    background-color: #f1f1f1;
    width: 200px;
    padding: 1px 0 1px 0;
}

.scene-item:hover, .genre-item:hover {
    background-color: #d8d8d8;
    z-index: 5;
}

.dropdown > .dropdown-wrapper {
    display: none;
}

.dropdown:hover > .dropdown-wrapper {
    display: block;
    position: absolute;
    z-index: 10;
}

.currently-selected-item{
    background-color: #b8b8b8;
}

.currently-selected {
    font-style: italic;
}

.filter-bar {
    width: 100%;
    display: table;
    margin-bottom: 20px;
}

.row-wrapper {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: text-top;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-head {
    display: table-row;
    font-weight: bold;
    background-color: #0ca2e8;
}

.table-row {
    display: table-row;
}

.information-table > div > .table-cell {
    border: 1px solid #000000;
    text-align: center;
    padding: 5px 0 5px 0;
    vertical-align: middle;
}

.information-table > .table-head > .table-cell {
    padding: 2px 0 2px 0;
}