{% block content %}
{% load staticfiles %}
<header>
    <h1>My name is Anders Brevik</h1>
</header>
    
<section>
    <header>
        <h2>This is me</h2>
        <h2>Here is how you contact me: <a href='/contact/'>Contact info</a></h2>
    </header>
    <div>
        <img src ="{% static './img/dog.jpg' %}">
    </div>
    <p>I feel somewhat confident in my C/C++ and a bit more in my Java.</p>
    <p>I have also dont a lot of work in Matlab, Simulink and LaTeX.</p>
    <p>My expectations for this course is to learn more about how the frontend works and to become a more rounded programmer.</p>

    
</section>

<section>
    
    <header>
        <h2>Questions</h2>
    </header>    
    
    <ol>
        <li>Because it is more local and therefore has a higher priority.</li>
        <li>Classes are to be used for example for all titles, whereas ID is to be used for a single title in this example.</li>
        <li>RGBA stands for red green blue and alpha. They can show any color that RGB can, with the addition of the alpha channel which regulates transparrancy.</li>
        <li>The style tag is not allowed in body, but also having the CSS in the head element means increased website performance.</li>
        <li>The CSS selector article p would select all p elements inside article.</li>
    </ol>
    
</section>

    
<footer>Created by Anders Brevik</footer>   

{% endblock %}