{% extends 'band_booking/base.html' %}
{% block content %}
        <title>Billettprisgenerator</title>
        <div class="centered">
            <div class="price-generator-input-box">
                <label for markedinfo>Band: </label>
                <input type="text" class="price-generator-input-field" id="Band"/>
            </div>
            <div class="price-generator-input-box">
                <label for cost>Honorar: </label>
                <input type="text" class="price-generator-input-field" id="cost"/>
            </div>
            <input class="price-generator-button basic-button" value="Generer" type="submit">
        </div>
{% endblock %}
