{% extends 'band_booking/base.html' %}
{% block content %}
    <div class="centered">
        <h1 class="generate-scene-header">Generete billettpriser</h1>
        <div class="generate-scene-boxes">
            {% for i in info %}
            <div class="generate-scene-box">
                <p>Scene: {{ i.name }}</p>
                <p>Billettpris: {{ i.price }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'bookingsjef:generator_input' %}" class="black-link">
        <div class="generate-scene-button basic-button">
            Tilbake til pris generator
        </div>
    </a>
{% endblock %}
