article {
    width: 65ch;
    margin: auto;
    font-family: Georgia, Verdana;
    font-size: 20px;
    line-height: 1.5em;
    color: #585858;
}
body{
    font-family: Georgia, Verdana;
    line-height: 1.5em;
    background-color: lightgray;
    font-size: 20px;
}
h1 {
    font-size: 3em;
    padding: 0;
    margin: 0 auto;
    font-family: Verdana,Georgia;
    line-height: 1.5em;
}

h2 {
    font-size: 1.8em;
}

p, blockquote, ul, ol {
    font-size: 20px;
    font-family: Georgia, Verdana;
    line-height: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url('cup-icon.svg');
    line-height: 1.5em;
    padding-left: 1.5em;
}





#cover {
    width: 100%;
}

#title {
    padding: 0;
    margin: 0;
}

#byline1 {
    padding: 0;
    margin: 0;
}

#byline2 {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #585858;
}

header {
    font-family: Georgia, Verdana;
}

section ol {
    font-family: cursive;
}



li {
       font-family: Georgia, Verdana;
    
}
