html, body{
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.band-title{
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.image-wrapper{
    width: 400px;
    height: 400px;
    display: inline-block;
}

.band-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.general-band-information{
    top: 0;
    display: inline-block;
    width: 194px;
    padding-bottom: 3px;
    vertical-align:top;
    height: 400px;
}

.followers{
    height: 40px;
}

.band-information{
    border-radius: 2px;
    width: 600px;
    height: 400px;
    background-color: #f4f4f4;
}

.albums{
    vertical-align: top;
    width: 49.5%;
    height: 800px;
    display: inline-block;
}

.album {
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.album-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.album-title {
    height: 25px;
    font-size: 24px;
    vertical-align: top;

}

.album-tracks {
    height: 175px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    background-color: #666666;
}

:window-inactive{
    display: none;
}

.album-information {
    height: 200px;
    display: inline-block;
    width: calc(100% - 210px);
}

.wrapper-left{
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}