#artist {
    display: none;
}

.loading_information {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 25px;
    max-width: 600px;
}

.loading_information_animation {
    height: 30px;
    text-align: center;
}

.loading_information_description {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}