{%  if error %}
    <!-- Fix how the error message is displayed -->
    <title>{{ error }}</title>
    <h3>{{ error }}</h3>
{% else %}
    <title>{{ name }}</title>
    <div class="artist-information-wrapper-left">
        <div class="artist-information-band-information">
            <div class="artist-information-band-image-wrapper">
                <img class="artist-information-band-image" src="{{ image.url }}"/>
            </div>
            <div class="artist-information-general-band-information">
                <h2 class="artist-information-band-title" id="band-title">{{ name }}</h2>
                <div class="artist-information-followers">
                    Spotify følgere:
                    <span class="artist-information-followers-number">
                        {{ followers }}
                    </span>
                </div>
                {% if type == "band" %}
                <div class="members">
                    <h4 class="members-title">
                        Medlemmer
                    </h4>
                    <div class="band-members overflow-scroll-x">
                        {% for member in members %}
                            <div class="band-member">{{ member }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="events">
            <h3 class="events-title">Konserter</h3>
            <div id="events-list">
                <div class="concert-load"> Laster konsert information<span id="loading_information_animation_dots"></span></div>
            </div>
        </div>
    </div>

    <div class="albums overflow-scroll-x">
        <h3 class="albums-title">
            Albums
        </h3>
        {% for album in albums %}
            <div class="album">
                <img class="album-image" src="{{ album.image.url }}"/>
                <div class="album-information">
                    <span class="album-title">
                    {{ album.name }} -
                        <span class="album-popularity">
                            Popularitet: {{ album.popularity }}/100
                        </span>
                        <span class="album-information-title-divider">
                            -
                        </span>
                        <span class="album-sales">
                            Salg: {{ album.sales }}
                        </span>
                    </span>
                    <div class="album-tracks">
                        <div class="tracks table">
                            {% for track in album.tracks %}
                                <div class="track table-row">
                                    <span class="track-number table-cell">
                                        {{ track.track_number }}
                                    </span>
                                    <span class="track-name table-cell">
                                        {{ track.name }}
                                    </span>
                                    <span class="track-time table-cell">
                                        {{ track.duration }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
