{% load static %}
<link rel="stylesheet" href="{% static 'band_booking/style/artist.css'  %}"/>

{%  if error %}
    <!-- Fix how the error message is displayed -->
    <title>{{ error }}</title>
    <h3>{{ error }}</h3>
{% else %}
    <title>{{ name }}</title>
    <div class="wrapper-left">
        <div class="band-information">
            <div class="image-wrapper">
                <img class="band-image" src="{{ image.url }}"/>
            </div>
            <div class="general-band-information">
                <h2 class="band-title" id="band-title">{{ name }}</h2>
                <div class="followers">
                    Spotify følgere:
                    <span class="followers-number">
                        {{ followers }}
                    </span>
                </div>
                {% if type == "band" %}
                <div class="members">
                    <h4 class="members-title">
                        Medlemmer
                    </h4>
                    <div class="band-members">
                        {% for member in members %}
                            <div class="band-member">{{ member }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="events">
            <h3 class="events-title">Konserter</h3>
            <div id="events-list">
                <div class="concert-load"> Laster konsert information<span id="loading_information_animation_dots"></span></div>
            </div>
        </div>
    </div>

    <div class="albums">
        <h3 class="albums-title">
            Albums
        </h3>
        {% for album in albums %}
            <div class="album">
                <img class="album-image" src="{{ album.image.url }}"/>
                <div class="album-information">
                    <span class="album-title">
                    {{ album.name }} -
                        <span class="album-popularity">
                            Popularitet: {{ album.popularity }}/100
                        </span>
                        <span class="album-information-title-divider">
                            -
                        </span>
                        <span class="album-sales">
                            Salg: {{ album.sales }}
                        </span>
                    </span>
                    <div class="album-tracks">
                        <div class="tracks">
                            {% for track in album.tracks %}
                                <div class="track">
                                    <span class="track-number">
                                        {{ track.track_number }}
                                    </span>
                                    <span class="track-name">
                                        {{ track.name }}
                                    </span>
                                    <span class="track-time">
                                        {{ track.duration }}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}