{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="{% static 'band_booking/style/index.css' %}">
		<title> Index </title>
	</head>

	<body>
		<div class="links">
			{% for page in pages %}
			<a href="{{page.link}}">
				<div class="link">
                    <span class="link-title">
                        {{page.title}}
                    </span>
				</div>
			</a>
			{% endfor %}
		</div>

		<footer id="footer">

		</footer>
	</body>
</html>
