{% extends 'band_booking/base.html' %}
{% load static %}
{% block content %}
    <title>{{ name }}</title>

    <div class="artist-information-loading-wrapper centered" id="loading_information">
        <div class="loading_information_text">
            Laster informasjon om
        <span class="artist-information-loading-artist-name">
            {{ name }}
        </span>
        </div>
        <div class="artist-information-loading-description">
            Kan ta opptil 5 sekunder
        </div>
        <div class="artist-information-loading-animation" id="loading_information_animation_dots"></div>
    </div>

    <div class="hidden" id="artist">{{ name }}</div>
    <script src="{% static 'band_booking/scripts/loading_artist.js' %}"></script>
{% endblock content %}